---
http_interactions:
  - request:
      method: post
      uri: https://mobile.southwest.com/api/extensions/v1/mobile/reservations/record-locator/ABC123/boarding-passes
      body:
        encoding: UTF-8
        string: '{"names":[{"firstName":"Fuu","lastName":"Bar"}]}'
      headers:
        Content-Type:
          - application/vnd.swacorp.com.mobile.boarding-passes-v1.0+json
        X-Api-Key:
          - l7xx8d8bfce4ee874269bedc02832674129b
    response:
      status:
        code: 200
        message: OK
      headers:
        Correlationid:
          - YnbgBUQWTnSCD6T8hIL30w-API
        Content-Type:
          - application/vnd.swacorp.com.mobile.boarding-passes-v1.0+json
      body:
        encoding: UTF-8
        string:
          '{"maxFailedCheckInAttemptsReached":false,"passengerCheckInDocuments":[{"passenger":{"secureFlightFirstName":"FUU
          QIX","secureFlightLastName":"BAR","secureFlightMiddleName":null,"secureFlightSuffix":null,"loyaltyAccountNumber":"20XXXXXXXXX","tier":"NON_ELITE","birthDate":"1969-12-31","specialConditions":[],"redressNumber":"","gender":"MALE","passengerTypePrefix":"","travelerId":"204XXXXXXXXXXXXX","passengerType":"ADULT","recordLocator":"ABC123","hasExtraSeat":false,"hasLapChild":false},"checkinDocuments":[{"boardingGroupNumber":"31","boardingGroup":"B","documentType":"cleared","departureDateTime":"2016-07-10T12:00:00.000-05:00","arrivalDateTime":"2016-07-10T13:05:00.000-06:00","origin":"DAL","destination":"HOU","secureFlightBarCode":"","fareProductType":"companion","gate":"8","flightNumber":null,"hasPreCheck":false,"originName":"Dallas
          (Love Field)","destinationName":"Houston (Hobby)","carrierInfo":{"carrierCode":"WN","flightNumber":"1234"},"drinkCouponBarCode":"","issued":true,"nonRevenue":false,"reprint":true,"seat":null,"durationMinutes":125,"documentReason":"","earlyBirdPurchased":false,"originationTerminal":"1","aircraftEquipmentType":"735","wifiOnBoard":false},{"boardingGroupNumber":"32","boardingGroup":"B","documentType":"cleared","departureDateTime":"2016-07-10T14:20:00.000-05:00","arrivalDateTime":"2016-07-10T15:45:00.000-06:00","origin":"HOU","destination":"BZE","secureFlightBarCode":"","fareProductType":"companion","gate":"2","flightNumber":null,"hasPreCheck":false,"originName":"Houston
          (Hobby)","destinationName":"Belize City","carrierInfo":{"carrierCode":"WN","flightNumber":"4567"},"drinkCouponBarCode":"","issued":true,"nonRevenue":false,"reprint":true,"seat":null,"durationMinutes":145,"documentReason":"","earlyBirdPurchased":false,"aircraftEquipmentType":"73W","wifiOnBoard":true}],"mobileBoardingPassEligible":false},{"passenger":{"secureFlightFirstName":"JOHN
          APPLE","secureFlightLastName":"SMITH","secureFlightMiddleName":null,"secureFlightSuffix":null,"loyaltyAccountNumber":"20XXXXXXXXY","tier":"NON_ELITE","birthDate":"1969-12-13","specialConditions":[],"redressNumber":"","gender":"MALE","passengerTypePrefix":"","travelerId":"20XXXXXXXXXXXXXX","passengerType":"ADULT","recordLocator":"ABC123","hasExtraSeat":false,"hasLapChild":false},"checkinDocuments":[{"boardingGroupNumber":"33","boardingG[...]
