---
http_interactions:
  - request:
      method: get
      uri: https://mobile.southwest.com/api/extensions/v1/mobile/reservations/record-locator/ABC123?action=VIEW&first-name=Fuu&last-name=Bar
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/vnd.swacorp.com.mobile.reservations-v1.0+json
        X-Api-Key:
          - l7xx8d8bfce4ee874269bedc02832674129b
    response:
      status:
        code: 404
        message: Not Found
      headers:
        Correlationid:
          - AfxYUfq-SkCMgYXK4vqSGw-API
        Content-Type:
          - application/json
      body:
        encoding: UTF-8
        string:
          '{"code":404599104,"message":"Hmm, we can''t find this reservation.
          Please double-check your information.","httpStatusCode":"NOT_FOUND","requestId":"AfxYUfq-SkCMgYXK4vqSGw-API"}'
    recorded_at: Sat, 09 Jul 2016 22:49:25 GMT
recorded_with: VCR 2.9.3
